REACT_APP_TENANT="bayut"
REACT_APP_COOKIE_DOMAIN=".bayut.sa"
REACT_APP_ENVIRONMENT="development"
REACT_APP_API_ENDPOINT=''
REACT_APP_BASE_URL=''
REACT_APP_CLASSIFIED_URL=""
REACT_APP_LEGACY_API_ENDPOINT=""
REACT_APP_ALGOLIA_APP_ID=""
REACT_APP_ALGOLIA_KEY=""
REACT_APP_ALGOLIA_LOCATION_INDEX=""
REACT_APP_ALGOLIA_PROJECTS_INDEX=""
REACT_APP_MAPBOX_ACCESS_TOKEN=""
REACT_APP_GOOGLE_MAPS_API_KEY=""
REACT_APP_CHECKOUT_ID=
REACT_APP_SENTRY_DSN=
REACT_APP_SENTRY_AUTH_TOKEN=
REACT_APP_GENERATE_SOURCEMAP=""
REACT_APP_ZENDESK=
REACT_APP_GA_MEASUREMENT_ID=""
NODE_ENV=
PUBLIC_URL=
CDN_URL=

## For Keycloak
REACT_APP_KEYCLOAK_BASE_URL=""
REACT_APP_KEYCLOAK_CLIENT_ID=""
REACT_APP_KEYCLOAK_REALM=""
REACT_APP_BROADCAST_CHANNEL_NAME=""