:root {
  .ant-select-arrow,
  .ant-select-clear {
    --ant-font-size-icon: 14px;
  }

  .ant-tooltip-arrow {
    &::before {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }

  .ant-popover-arrow {
    --ant-popover-arrow-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .ant-tour {
    --ant-tour-arrow-path: path(
      'M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z'
    );
  }
}


